@model cuoiki.Models.TypeFood

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

@section _Header{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Areas/admin/Data/css/btn.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/Areas/admin/Data/js/table.js"></script>
    <script>
        $(document).ready(function () {
            function getFood() {
                var idx = $('#typeFood').val();
                $.ajax({
                    url: '@Url.Action("getFood","Foods")',
                    type: "GET",
                    data: { id: idx },
                    success: function (data) {
                        $("#getFood").html(data);
                    },
                    error: function (data) {
                        alert("something went wrong")
                    }
                });
            }
            getFood();
            $("#typeFood").change(function () {
                getFood();
            });
        });

        function add() {
            window.location.href="@Url.Action("Create","Foods")"
        }
    </script>
    <style>
        th {
            color: black !important;
            font-weight: bold !important;
        }

        img {
            width: 150px;
            height: 150px;
        }
        #typeFood{
            width: 300px;
        }
        #drop {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align:center;
        }
    </style>
}
<div id="a">
    <h2>Món ăn</h2>
    <button class="button" onclick="add()">Thêm mới</button>
</div>
<div id="drop">
    @Html.DropDownListFor(model => model.idTypeFood, (SelectList)ViewBag.typeFood, "-- Tất cả --", new { @class = "form-control", @id = "typeFood" })
</div>

<hr />
<div id="getFood"></div>
