@model IEnumerable<cuoiki.Models.Food>
@foreach (var i in Model)
{
    <div class="col-sm-6 col-lg-4 all">
        <div class="box" style="height:400px !important">
            <div>
                <div class="img-box">
                    <img src="~/Uploads/images/@ViewBag.meta/@i.img" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        @i.name
                    </h5>
                    <p>
                        @i.description
                    </p>
                    <div class="options">
                        <h6>
                            @i.price
                        </h6>
                        <a href="" id="@i.idFood" onclick="formSL(id)" data-toggle="modal" data-target="#exampleModal">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                            <g>
                            <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                            <g>
                            <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                            <g>
                        </g>
                      </svg>
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="color:black !important">Nhập số lượng</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input id="idfood" type="number" hidden />
                                        <input id="soluong" type="number" style="width:100% !important" min="1"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="addToCart()" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Thêm vào giỏ</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal2 noti" style="position: fixed; top:0; left: 0; right: 0; bottom: 0;
                                                        justify-content: center; align-items: center; display: none;">
                            <div class="alert alert-primary" role="alert">This is a success alert—check it out!</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script>
    function formSL(id) {
        $('#idfood').val(id)
    }
    function addToCart() {
        let idfood = $('#idfood').val()
        let soluong = $('#soluong').val()
        $.ajax({
            url: '/Cart/addToCart',
            type: 'post',
            data: {
                idfood: idfood,
                soluong: soluong
            },
            success: function (data) {
                if (data.code == 1) {
                    $('.alert').html(data.msg)
                    $('.noti').css("display","flex")    
                    $('.noti').fadeIn("slow").delay(1800).fadeOut("slow")
                } else {
                    $('.alert').html(data.msg)
                    $('.noti').css("display", "flex")
                    $('.noti').fadeIn("slow").delay(1800).fadeOut("slow")
                }
            }
        });
    }
</script>

