
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2 style="color:black !important">
                Our Menu
            </h2>
        </div>

        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            @{ Html.RenderAction("getTypeFood", "Menu");}
        </ul>

        <div class="filters-content">
            <div class="row grid">
                @{ Html.RenderAction("getFood", "Menu");}
              
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View More
            </a>
        </div>
    </div>
</section>

