@model cuoiki.Models.About
@{
    ViewBag.Title = "Home Page";
}

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/Uploads/images/about/@Model.img" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box" style="color:black !important">
                    <div class="heading_container">
                        <h2 style="color:black !important">
                            @Model.title
                        </h2>
                    </div>
                    <p>
                        @Html.Raw(@Model.content)
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Feedback
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="form_container">
                    <form action="">
                        <div>
                            <input type="text" class="form-control" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Your Email" />
                        </div>

                        <div>
                            <textarea type="text" class="form-control" placeholder="Your comment..."></textarea>
                        </div>
                        <div class="btn_box">
                            <button>
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
